<div class="container">
	<br/>
	<h1>Lemoon shop</h1>
	<br/><br/>

	<h3>Les nouveautés :</h3><br/>
	<% @items.each do |item| %>
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title"><%= item.name %></h5>
	    <p class="card-text"><%= item.description %></p>
	    <p class="card-link">Prix: <%= item.price %>€</p>
	    <a href="<%= item_path(item) %>">Voir le produit</a>
	  </div>
	</div>
	<% end %>
</div>