<br/>
<div class="container">
	<h1><%= @item.name %></h1>
	<br/><br/><br/>
	<h3>Description</h3>
	<p><%= @item.description %></p><br/>
	<p>Prix: <%= @item.price %></p>
	<%= button_to "Ajouter au panier", cart_items_path(@item.id), class: "card-link"%>
</div>
